@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 330 4% 9%;
    --card: 0 0% 100%;
    --card-foreground: 330 4% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 330 4% 9%;
    --primary: 5 100% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 100% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 100% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 100% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 5 100% 60%;
    --radius: 1.5rem;
  }

  [data-theme='dark'] {
    --background: 330 4% 9%;
    --foreground: 210 40% 98%;
    --card: 330 4% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 330 4% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar{
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.container-fluid {
  @apply max-w-[1560px] w-full mx-auto px-8;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply dark:bg-background dark:opacity-100;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary;
}
.project-tab-trigger[data-state='active'] {
  @apply bg-primary text-background;
}

.form-control-theme {
  @apply bg-background dark:bg-gray-700 text-foreground dark:text-background;
}