@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 330 4% 9%;
    --card: 0 0% 100%;
    --card-foreground: 330 4% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 330 4% 9%;
    --primary: 5 100% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 100% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 100% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 100% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 5 100% 60%;
    --radius: 1.5rem;
  }

  [data-theme='dark'] {
    --background: 330 4% 9%;
    --foreground: 210 40% 98%;
    --card: 330 4% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 330 4% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.btn {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.btn-primary {
  @apply bg-primary text-primary-foreground hover:bg-primary/90;
}

.btn-destructive {
  @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
}

.btn-outline {
  @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
}

.btn-secondary {
  @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
}
.btn-lg {
  @apply h-11 rounded-md px-8;
}
.btn-md {
  @apply h-10 px-4 py-2;
}
.btn-sm {
  @apply h-9 rounded-md px-3;
}
.btn-icon {
  @apply h-10 w-10;
}
.hide-scrollbar{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
    height: 0;
    width: 0;
}

.container-fluid {
  @apply max-w-[1560px] w-full mx-auto px-8;
}

.floating-components > *{
  border-radius: 0 !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply dark:bg-background dark:opacity-100;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary;
}
.project-tab-trigger[data-state='active'] {
  @apply bg-primary text-background;
}

.form-control-theme {
  @apply bg-background dark:bg-gray-700 text-foreground dark:text-background;
}

.page-link{
  @apply h-10 w-10 inline-flex justify-center items-center border border-gray-300 bg-transparent hover:bg-primary hover:border-transparent hover:text-background;
}
.page-link.active{
  @apply border-transparent bg-primary text-background hover:bg-primary hover:text-white hover:border-accent;
}